@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

@keyframes fullSpin {
  100% {
    transform: rotate(-360deg);
  }
}

.conic-gradient-box {
  animation: fullSpin 5s linear infinite;
}
